<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<h3>Новый заказ № <%= @order.number %>!</h3>

<p>Организация: <%= @about.company %></p>
<p>Контактное лицо: <%= @about.name %></p>
<p>E-mail: <%= @about.email %></p>
<p>Телефон: <%= @about.phone %></p>


  </body>
</html>
