<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<h3>Зарегистрировался новый пользователь!</h3>
<h4>Личные данные:<h4>

<p>Организация: <%= @about.company %></p>
<p>Город: <%= @about.town %></p>
<p>Контактное лицо: <%= @about.name %></p>
<p>Менеджер: <%= @about.manager %></p>
<p>E-mail: <%= @about.email %></p>
<p>Телефон: <%= @about.phone %></p>

  </body>
</html>
